@model Herhaling1.ViewModels.StudentBasic

<h1>Dit is de bekomen student</h1>

<h3>@Html.LabelFor(s => Model.Studnr)</h3>
<p>@Html.DisplayFor(s => Model.Studnr)</p>
<h3>@Html.LabelFor(s => Model.Voornaam)</h3>
<p>@Html.DisplayFor(s => Model.Voornaam)</p>
<h3>@Html.LabelFor(s => Model.Familienaam)</h3>
<p>@Html.DisplayFor(s => Model.Familienaam)</p>